body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::placeholder{
  color: #888;
  opacity: 1;
  
}
::-ms-input-placeholder{
  color: #888;
}

input[type=text]{
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
   border-radius: 20px;
   border: 1px solid #2d9fd9;
   color: #a0d18c;
   width: 250px;
   height: 30px;
   padding-left: 10px;
  }
  
input[type=text]:focus {
   outline: none;
   border: 1px solid #a0d18c;
   color: #2d9fd9;
}
.header{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
     border-radius: 20px;
     border: 1px solid #2d9fd9;
     color: #a0d18c;
     width: 250px;
     height: 50px;
     padding-left: 10px;
     outline: none;
     border: 1px solid #a0d18c;
     color: #2d9fd9;
  }